section.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

section.login span {
    text-align: center;
    margin-bottom: 1rem;
}

section.login input {
    height: var(--middle-font-size);
    width: 50%;
    margin-bottom: 1rem;
}

section.login input:focus {
    border-style: solid;
    /* for input */
    border-color: forestgreen;

}

section.login .login-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 50%;
}

section.login .login-button-bar button {
    height: var(--large-font-size);
    width: 48%;
    color: white;
    background-color: forestgreen;
    border-style: none;
    font-weight: bold;
    font-size: var(--micro-font-size);
}

section.login .login-button-bar button:hover {
    background-color: darkgreen;
    cursor: pointer;
}

