@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

:root {
    --snackbar-bottom: 50px;
    --large-font-size: 3rem;
    --middle-font-size: 2rem;
    --small-font-size: 1.5rem;
    --micro-font-size: 1.2rem;
}

/* 최상위 엘리먼트들 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

h1 {
    font-size: var(--large-font-size);
    text-align: center;
}

h2 {
    font-size: var(--middle-font-size);
    text-align: center;
}

h3 {
    font-size: var(--small-font-size);
    text-align: center;
}

span {
    display: block;
    width: 100%;
    height: auto;
    min-height: 1rem;
}

input, select, textarea {
    font-family: 'Noto Sans KR', sans-serif;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input[type="password"] {

}

/* header navigation */
.header-area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.nav-bar-fade {
    animation-name: nav-bar-fade;
    animation-duration: 0.5s;
    -webkit-animation-name: nav-bar-fade;
    -webkit-animation-duration: 0.5s;
}

@keyframes nav-bar-fade {
    from {
        opacity: 0.2
    }

    to {
        opacity: 1.0
    }
}

@-webkit-keyframes nav-bar-fade {
    from {
        opacity: 0.2
    }

    to {
        opacity: 1.0
    }
}

.header-area.nav-bar-fixed {
    position: fixed;
}

.header-area > .nav-bar {
    width: calc(100% - 120px);
    margin: 0 60px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .header-area > .nav-bar {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .header-area > .nav-bar {
        max-width: 1000px;
    }
}

.header-area > .nav-bar > .nav-bar-logo {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    cursor: pointer;
}

.header-area > .nav-bar > .nav-bar-logo > img {
    max-width: 150px;
    cursor: pointer;
}

.header-area > .nav-bar > .nav-bar-menu-button * {
    font-size: 32px;

}

.header-area > .nav-bar > .nav-bar-menu-button {
    font-size: 32px;
    float: right;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
}

@media (min-width: 992px) {
    .header-area > .nav-bar > .nav-bar-menu-button {
        display: none;
    }
}

.header-area > .nav-bar > .nav-bar-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.header-area > .nav-bar > .nav-bar-menu.show {
    height: 200px;

}

.header-area > .nav-bar > .nav-bar-menu > .nav-item {
    float: none;
    display: block;
    height: 50px;
    line-height: 50px;
}

.header-area > .nav-bar > .nav-bar-menu > .nav-item:hover * {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-area > .nav-bar > .nav-bar-menu > .nav-item > .nav-link {
    display: block;
    padding-left: 50px;
    color: white;
    cursor: pointer;
}

@media (min-width: 992px) {
    .header-area > .nav-bar > .nav-bar-menu {
        position: relative;
        background-color: transparent;
        float: right;
        top: 0;
        width: auto;
        height: auto;
        transition: none;
    }

    .header-area > .nav-bar > .nav-bar-menu.show {
        height: auto;
    }

    .header-area > .nav-bar > .nav-bar-menu > .nav-item {
        display: inline-block;
        height: 70px;
        line-height: 70px;
    }

    .header-area > .nav-bar > .nav-bar-menu > .nav-item:hover * {
        background-color: transparent;
    }

    .header-area > .nav-bar > .nav-bar-menu > .nav-item > .nav-link {
        display: block;
        padding: 0 20px;
        color: black;
    }
}

/* main container */
main.container {

}







