@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';

:root {
    --snackbar-bottom: 50px;
    --large-font-size: 3rem;
    --middle-font-size: 2rem;
    --small-font-size: 1.5rem;
    --micro-font-size: 1.2rem;
}

/* 최상위 엘리먼트들 */
body {
    background-color: whitesmoke;
}

h1 {
    font-size: var(--large-font-size);
    text-align: center;
}

h2 {
    font-size: var(--middle-font-size);
    text-align: center;
}

h3 {
    font-size: var(--small-font-size);
    text-align: center;
}

span {
    display: block;
    width: 100%;
    height: auto;
    min-height: 1rem;
}

input[type="password"] {

}

/* main container */
main.container {

}







