@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';

/* 최상위 엘리먼트들 */
body {
    background-color: whitesmoke;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

span {
    display: block;
    width: 100%;
    height: auto;
    min-height: 1rem;
}

/* main container */
main.container {

}


/* form-container */
.form-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

.form-container .form-title {
    color: forestgreen;
}

.form-container .form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-weight: bold;
    font-size: 1.2rem;
}

.form-container input,
.form-container button,
.form-container select {
    height: 2rem;
}

.form-container input:focus,
.form-container select:focus {
    border-style: solid;
    border-color: forestgreen;
}

.form-container .form-birth-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-container .form-birth-container #form-year,
.form-container .form-birth-container #form-month,
.form-container .form-birth-container #form-day {
    height: 2rem;
    width: 30%;
}

/*.form-container .button-bar {
    text-align: center;
}*/

/*.popup-modal-button,
.form-container .button-bar .form-button {
    height: 2rem;
    width: 40%;
    margin: 0 auto;
    color: white;
    background-color: forestgreen;
    border-style: none;
    font-weight: bold;
    font-size: 1.1rem;
}*/

.form-container label.form-agree-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.form-container label.form-agree-bar .form-agree {
}

.form-container label.form-agree-bar #form-agree.form-agree {
}

.form-container u.form-agree:hover {
    color: forestgreen;
    cursor: pointer;
}

.form-container .form-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup-modal-button,
.form-container .form-button-bar .form-button {
    height: 3rem;
    width: 48%;
    color: white;
    background-color: forestgreen;
    border-style: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.form-container .form-button-bar .form-button:hover {
    background-color: darkgreen;
    cursor: pointer;
}


/* modal */
.body-blackout {
    position: fixed;
    z-index: 1010;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    display: none;
}

.body-blackout.is-blacked-out {
    display: block;
}

.popup-trigger {
    display: inline-block;
}

.popup-modal {
    height: 365px;
    width: 650px;
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 45px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 1011;
    text-align: center;
}

.popup-modal.is--visible {
    opacity: 1;
    pointer-events: auto;
    content: " (" attr(open) ")";
}

.popup-modal__close {
    display: block;
    text-align: center;
    position: absolute;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    width: 3rem;
    line-height: 3rem;
    height: 3rem;
    right: -10px;
    top: -10px;
    cursor: pointer;
}

.popup-modal__close i {
    vertical-align: sub;
}

.popup-modal .popup-modal-agree {
    resize: none;
}

.popup-modal .popup-modal-agree {
    width: 100%;
}

.popup-modal-button {
    cursor: pointer;
}

.popup-modal-button:disabled {
    background-color: darkred;
    cursor: not-allowed;
}

/* snackbar */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    width: 50%;
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 10px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 25%; /* Center the snackbar */
    bottom: 50px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

